
		
        body {
            margin: 0;
            font-family: 'Pacifico';
            background-color: #f5f5f5;
            text-align: center;
        }

        header {
            background-color: #73C8DD;
            color: white;
            padding: 40px 20px;
        }

        h1 {
            margin: 0;
            font-size: 48px;
        }

        p {
            font-size: 18px;
            color: #555;
        }

        section {
            padding: 60px 20px;
        }

        button {
            padding: 12px 24px;
            font-size: 16px;
			font-family: 'Pacifico';
            border: none;
            background-color: #73C8DD;
            color: white;
            cursor: pointer;
            border-radius: 6px;
        }

        button:hover {
            background-color: #444;
        }

        footer {
            margin-top: 60px;
            padding: 20px;
            background-color: #eee;
            color: #777;
        }
	.hero {
    position: relative;
    text-align: center;
    margin-top: 100px;
}

.hero h1,
.hero p {
    position: relative;
    z-index: 2;
}

.side-image {
    position: absolute;
    top: 20px;
    right: 20%;
    width: 250px;

    transform: rotate(-15deg);
    z-index: 1;

    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}
